body {
  background-image: linear-gradient(#ffafbd, #ffc3a0);
}

.is-done p {
    text-decoration: line-through;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
  }
  
  form#add-task {
    padding: 0;
  }
  
  .todos .textfield-outline input[type="text"] {
    width: 68%;
  }
  
  .todos ul {
    padding: 0;
  }
  .todos li {
    list-style: none;
  
  }
  
  .todo {
    position: relative;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  
  .todo:last-of-type {
    border-bottom: none;
  }
  
  .checkbox-label,
  .text { 
    margin-top: 8px;
  }
  
  .text {
    float: left;
    margin: 11px 0;
  }
  
  .checkbox-label,
  .close {
    float: right;
  }
  
  .todos input[type="submit"] {
    margin: 0;
    width: 30%;
    display: inline-block;
    background-color:#ffafbd;
  }
   
  body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .todos {
    position: relative;
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    background-color: white;
  }
  
  form {
    padding: 16px 48px;
  }
  
  a {
    text-decoration: none;
  }
  
  .done,
  .progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    visibility: hidden;
  }
  
  .done {
    transition: visibility 0s 1s;
  }
  
  .signed .done {
    visibility: visible;
  }
  
  .done a {
    display: inline-block;
    text-decoration: none;
  }
  
  .progress {
    opacity: 0;
  }
  
  .signed .progress {
    animation: loading 4s;
  }
  
  /* Input, Textarea */
  .textfield-outline input[type="text"],
  .textfield-outline textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px;
    /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    /* border-top-color: transparent; */
    border-radius: 4px;
    padding: 5px 13px 5px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none;
    /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  /* Indeterminate */
  .pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
  }
  
  /* Circle */
  .pure-material-radio span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px;
    /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
  }
  
  /* Check */
  .pure-material-radio span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
  }
  
  /* Checked */
  .pure-material-radio input[type="checkbox"]:checked {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }
  
  .pure-material-radio input[type="checkbox"]:checked+span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }
  
  .pure-material-radio input[type="checkbox"]:checked+span::after {
    transform: translate(5px, 5px) scale(1);
  }
  
  .button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    transition: box-shadow 0.2s;
  }
  
  .checkbox-label {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
  } 
  
  /* Input */
  .checkbox-label input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
  }
  
  /* Box */
  .checkbox-label span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
  }
  
  /* Checkmark */
  .checkbox-label span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
  }
  
  /* Checked, Indeterminate */
  .checkbox-label input[type="checkbox"]:checked,
  .checkbox-label input[type="checkbox"]:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }
  
  .checkbox-label input[type="checkbox"]:checked+span::before,
  .checkbox-label input[type="checkbox"]:indeterminate+span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  }
  
  .checkbox-label input[type="checkbox"]:checked+span::after,
  .checkbox-label input[type="checkbox"]:indeterminate+span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  }
  
  .checkbox-label input[type="checkbox"]:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
  }
  
  .close {
    position: relative;
    right: 20px;
    top: 11px;
    width: 22px;
    height: 22px;
    opacity: 0.3;
  }
  
  .close:hover {
    opacity: 1;
  }
  
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: rgb(247, 86, 86);
  }
  
  .close:before {
    transform: rotate(45deg);
  }
  
  .close:after {
    transform: rotate(-45deg);
  }

  @media screen and (max-width: 425px){
    .todos {
      width: 100%;
    }
  }